{% extends 'base.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <title>Document</title>
</head>
<body>
{{% block body %}
{% for item in items %}
    <div class="row-m-5">
        <div class="col-md-3 offset-md-3">
          <img src="{{item.image.url}}" class="card" width="550px" height="200px">

        </div>
        <div class="col-md-4">
            <h1>{{items.name}}</h1>
            <h3>{{items.price}}</h3>
           <h5>{{items.desc}}</h3>
</div>
<div class="col-md-2">
 </div>
</div>
 {% endfor %}
 {% endblock body %}}
</body>
</html>